* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* start-nav */

/* end-nav */
.image-sect {
  height: 35vh;
  border-radius: 30px;
  position: relative;
}
.image-sect img {
  z-index: 5;
  transform: rotate(-30deg);
}
.info {
  position: absolute;
  top: -3rem;
  left: 1rem;
}
.info-2 {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
}
.info-3 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.info-4 {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.ibm-plex-sans-arabic-thin {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-arabic-extralight {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-arabic-light {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-arabic-regular {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-arabic-medium {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-arabic-semibold {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-arabic-bold {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 700;
  font-style: normal;
}
